.timeline {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 100px);
}

.timeline .text-wrapper {
  color: #000000;
  font-family: "Literata", Helvetica;
  font-size: 50px;
  font-weight: 400;
  height: 74px;
  left: 753px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 70px;
}

.timeline .overlap {
  height: 861px;
  left: 162px;
  position: absolute;
  top: 148px;
  width: 1618px;
}

.timeline .overlap-group {
  height: 818px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1700px;
}

.timeline .image {
  height: 363px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 40%;
  width: 370px;
}

.timeline .overlap-group-2 {
  height: 637px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1700px;
}



.timeline .frame {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.timeline .text-wrapper-2 {
  color: #000000;
  font-family: "Literata", Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 191px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 463px;
  top: 70px;
}

.timeline .text-wrapper-3 {
  color: #000000;
  font-family: "Literata", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 37px;
  left: 135px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 131px;
}

.timeline .div-1 {
  background-color: #32cd32;
  border-radius: 50px;
  height: 100px;
  position: relative;
  width: 100px;
  top: 10px;
}

.timeline .div-2 {
  background-color: #d9d9d9;
  border-radius: 50px;
  height: 100px;
  position: relative;
  width: 100px;
  top: 10px;
}



.timeline .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.timeline .p {
  color: #000000;
  font-family: "Literata", Helvetica;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 363px;
  top: 30px;
}

.timeline .text-wrapper-4 {
  color: #000000;
  font-family: "Literata", Helvetica;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}



.timeline .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9px;
  position: relative;
}

.timeline .text-wrapper-5 {
  color: #000000;
  font-family: "Literata", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.timeline .data-collection {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 19px;
  left: 1%;
  position: absolute;
  top: 85px;
}

.timeline .last-day-to-update {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  left: 20%;
  position: absolute;
  top: 30px;
}

.timeline .restock-items-before {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  left: 40%;
  position: absolute;
  top: 0;
}

.timeline .prepare-packages {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  left: 68%;
  position: absolute;
  top: 100px;
}

.timeline .ship-through-usps {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: 27%;
  position: absolute;
  top: -50%;
}

.timeline .order-arrived {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  left: -19%;
  position: absolute;
  top: -50%;
}

.timeline .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}







.timeline .overlap-2 {
  height: 224px;
  left: 940px;
  position: absolute;
  top: 637px;
  width: 778px;
}



.timeline .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
}



.timeline .line-3 {
  height: 4px;
  left: 200px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 270px;
}

.timeline .line {
  height: 4px;
  left: 570px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 290px;
}

.timeline .img {
  height: 4px;
  left: 960px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 310px;
}

.timeline .line-2 { 
  height: 300px;
  left: 1320px;
  object-fit: cover;
  position: absolute;
  top: 302px;
  width: 3px;
  
}

.timeline .line-4 {
  height: 5px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: -50px;
  width: 313px;
}